.idea/
#залежності не тягнемо за собою
/node_modules
#те саме стосується і зібраного проєкту
/dist
# Результати запуску 'vite preview'
# Це тека, де зберігаються кешовані залежності у режимі розробки
.vite
# Логи npm (якщо використовуєте інший PM, то пишіть під нього)
npm-debug.log*